@font-face {
    font-family: 'Madoka Letters';
    src: url('../fonts/MadokaLetters.woff2') format('woff2'),
         url('../fonts/MadokaLetters.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Madoka Musical';
    src: url('../fonts/MadokaMusical.woff') format('woff2'),
         url('../fonts/MadokaMusical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Madoka Runes';
    src: url('../fonts/MadokaRunes.woff2') format('woff2'),
         url('../fonts/MadokaRunes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Magicum Comicum';
    src: url('../fonts/MagicumComicum.woff2') format('woff2'),
         url('../fonts/MagicumComicum.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Magicum Texturae';
    src: url('../fonts/MagicumTexturae.woff2') format('woff2'),
         url('../fonts/MagicumTexturae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fette Haenel Fraktur';
    src: url('../fonts/FetteHaenelFraktur.woff2') format('woff2'),
        url('../fonts/FetteHaenelFraktur.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euphorigenic';
    src: url('../fonts/Euphorigenic-Regular.woff2') format('woff2'),
        url('../fonts/Euphorigenic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL French Canon';
    src: url('../fonts/IM_FELL_French_Canon_Roman.woff2') format('woff2'),
        url('../fonts/IM_FELL_French_Canon_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL French Canon';
    src: url('../fonts/IM_FELL_French_Canon_Italic.woff2') format('woff2'),
        url('../fonts/IM_FELL_French_Canon_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Qranklestein';
    src: url('../fonts/Qranklestein.woff2') format('woff2'),
        url('../fonts/Qranklestein.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL French Canon';
    src: url('../fonts/IM_FELL_French_Canon_Roman_SC.woff2') format('woff2'),
        url('../fonts/IM_FELL_French_Canon_Roman_SC.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RM Ginger';
    src: url('../fonts/RM-Ginger.woff2') format('woff2'),
        url('../fonts/RM-Ginger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono Blk';
    src: url('../fonts/NotoSansMono-Black.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../fonts/NotoSansMono-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono Cond';
    src: url('../fonts/NotoSansMono-Condensed.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono ExtBd';
    src: url('../fonts/NotoSansMono-ExtraBold.woff2') format('woff2'),
        url('../fonts/NotoSansMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono ExtLt';
    src: url('../fonts/NotoSansMono-ExtraLight.woff2') format('woff2'),
        url('../fonts/NotoSansMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../fonts/NotoSansMono-Light.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono Med';
    src: url('../fonts/NotoSansMono-Medium.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../fonts/NotoSansMono-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono SemBd';
    src: url('../fonts/NotoSansMono-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSansMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Mono';
    src: url('../fonts/NotoSansMono-Thin.woff2') format('woff2'),
        url('../fonts/NotoSansMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

